html * {
	margin: 0;
	/*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */
.spinner {
	padding: 5px;
	position: absolute;
	right: 0;
}

body {
	background: url("../images/bg_body.gif") repeat-x top #ff7a2a;
	color: #333;
	font: 11px verdana, arial, helvetica, sans-serif;
}

#bg_gradient {
	margin: 0 auto;
	width: 960px;
	height: 568px;
	background: url("../images/bg_gradient.jpg") no-repeat center;
}

#grailsLogo {
	padding: 20px;
}

#biomechsLogo {
	height: 110px;
	width: 960px;
	margin: 20px auto;
}

a:link,a:visited,a:hover {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

h1 {
	color: #1b1b1b;
	font-weight: bold;
	font-size: 16px;
}

h2 {
	color: #FF7B0D;
	font-weight: bold;
	font-size: 14px;
	margin: .8em 0 .3em 0;
}

h2#warning {
	color: #cc0000;
	font-weight: normal;
	font-size: 14px;
	margin: .8em 0 .3em 0;
}

h3 {
	color: #48802c;
	font-weight: normal;
	font-size: 12px;
	margin: .8em 0 .3em 0;
}

h4 {
	color: #48802c;
	font-weight: normal;
	font-size: 10px;
	margin: .8em 0 .3em 0;
}

ul {
	padding: 0;
	margin: 0;
}

input,select,textarea {
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	font: 11px verdana, arial, helvetica, sans-serif;
	margin: 2px 0;
	padding: 2px 4px;
}

select {
	padding: 2px 2px 2px 0;
}

input, .radiobutton input#label {
	width: 250px;
}

textarea#supervisors {
	width: 250px;
	height: 30px;
}

textarea#additionalEthicsRequirements {
	width: 250px;
	height: 45px;
}

textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus,select:focus,textarea:focus {
	border: 1px solid #b2d1ff;
}

.body {
	width: 920px;
	margin: 0 auto;
	background: #fff;
	padding: 20px
}

/* NAVIGATION MENU */
.nav {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-style: solid none solid none;
	margin-top: 5px;
	padding: 7px 12px;
}

.menuButton {
	font-size: 10px;
	padding: 9px 6px;
	display: block;
}

.menuButton a {
	color: #333;
	padding: 4px 6px;
}

.menuButton a.home {
	background: url(../images/skin/house.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.list {
	background: url(../images/skin/database_table.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.create {
	background: url(../images/skin/database_add.png) center left no-repeat;
	color: #FF7400;
	padding-left: 25px;
}

.create {
	color: #FF7400;
}

/* MESSAGES AND ERRORS */
.message {
	background: #f3f8fc url(../images/skin/information.png) 8px 50%
		no-repeat;
	border: 1px solid #b2d1ff;
	color: #006dba;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px
}

div.errors {
	background: #fff3f3;
	border: 1px solid red;
	color: #cc0000;
	margin: 10px 0 5px 0;
	padding: 5px 0 5px 0;
}

div.errors ul {
	list-style: none;
	padding: 0;
}

div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
	line-height: 16px;
	padding-left: 30px;
}

td.errors select {
	border: 1px solid red;
}

td.errors input {
	border: 1px solid red;
}

td.errors textarea {
	border: 1px solid red;
}

/* TABLES */
table {
	border: 1px solid #ccc;
	width: 100%;
	table-layout: fixed;
}

tr {
	border: 0;
}

td,th {
	font: 11px verdana, arial, helvetica, sans-serif;
	line-height: 12px;
	padding: 10px 12px;
	text-align: left;
	vertical-align: top;
}

th {
	background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%); /* W3C */
	color: #333;
	font-size: 10px;
	font-weight: bold;
	line-height: 17px;
}

th a:link,th a:visited,th a:hover {
	color: #333;
	display: block;
	font-size: 10px;
	text-decoration: none;
	width: 100%;
}

th.asc a,th.desc a {
	background-position: right;
	background-repeat: no-repeat;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #fff;
}

/* LIST */
.list table {
	border-collapse: collapse;
}

.list th,.list td {
	border-left: 1px solid #ddd;
}

.list th:hover,.list tr:hover {
/* 	background: #b2d1ff; */
}

/* PAGINATION */
.paginateButtons {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-top: 0;
	color: #666;
	font-size: 10px;
	overflow: hidden;
	padding: 10px 3px;
}

.paginateButtons a {
	background: #fff;
	border: 1px solid #ccc;
	border-color: #ccc #aaa #aaa #ccc;
	color: #666;
	margin: 0 3px;
	padding: 2px 6px;
}

.paginateButtons span {
	padding: 2px 3px;
}

/* DIALOG */
.dialog table {
	padding: 5px 0;
}

.largeDialog table {
	padding: 5px 0;
}

.prop {
	padding: 5px;
}

.prop .name {
	text-align: left;
	width: 15%;
	/*white-space: nowrap;*/
}

.prop .value {
	text-align: left;
	width: 85%;
}

.prop .value td {

	word-break: break-all;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap; /* css-3 */ 
white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ 
white-space: -pre-wrap; /* Opera 4-6 */ 
white-space: -o-pre-wrap; /* Opera 7 */ 
word-wrap: break-word; /* Internet Explorer 5.5+ */ 
overflow: hidden;	
}

.radiobutton .name{
	text-align: left;
	width: 15%;
	/*white-space: nowrap;*/
}

.radiobutton input {
	width: 10px;
}

.radiobutton .value {
	text-align: left;
	width: 85%;
}


/* ACTION BUTTONS */
input.edit {
	border: 0;
	background: transparent url(../images/skin/database_edit.png) 5px 50%
		no-repeat;
	padding-left: 28px;
}

.projects a {
	display: block;
}

.projects ul {
	margin-top: 1em;
	list-style-type: none;
}

.projects li {
	margin: 10px 0 0 0; padding: 5px 0 5px 30px;
		background-color: #F5F5F5;
	list-style-type: none;
}

.buttons {
	background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%); /* W3C */
	border: 1px solid #ccc;
	color: #666;
	font-size: 10px;
	margin: 10px 0 0 0; padding: 0;
	height: 30px;
}


.buttons input {
	width: auto;
	background: #fff;
	border: 0;
	color: #333;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	margin-left: 3px;
	overflow: visible;
	margin: 0 0 0 10px; padding: 9px 6px;
}

.buttons input.delete {
	background: transparent url(../images/skin/database_delete.png) 5px 50%
		no-repeat;
	padding-left: 28px;
}

.buttons input.cancel {
	background: transparent url(../images/skin/database_delete.png) 5px 50%
		no-repeat;
	padding-left: 28px;
}

.buttons input.edit {
	background: transparent url(../images/skin/database_edit.png) 5px 50%
		no-repeat;
	padding-left: 28px;
}

.buttons input.save {
	background: transparent url(../images/skin/database_save.png) 5px 50%
		no-repeat;
	padding-left: 28px;
}

.button a.list {
	border: 0;
	color: #333;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	margin-left: 3px;
	overflow: visible;
	padding: 4px 9px;
	padding-left: 28px;
	background: transparent url(../images/skin/database_table.png) 5px 50%
		no-repeat;
}

.buttons a#cancel {
	border: 0;
	color: #333;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	margin-left: 3px;
	overflow: visible;
	padding: 2px 6px;
	padding-left: 28px;
	background: transparent url(../images/skin/database_delete.png) 5px 50%
		no-repeat;
}

.buttons a#cancel:hover {
	background: transparent url(../images/skin/database_delete.png) 5px 50%
		no-repeat;
}

.buttons a#cancel:active {
	background: transparent url(../images/skin/database_delete.png) 5px 50%
		no-repeat;
}

a#delete {
	border: 0;
	color: #333;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	margin-left: 3px;
	overflow: visible;
	padding: 2px 6px;
	padding-left: 28px;
	background: transparent url(../images/skin/database_delete.png) 5px 50%
		no-repeat;
}

a#edit,a#edit-participant {
	border: 0;
	color: #333;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	margin-left: 3px;
	overflow: visible;
	padding: 2px 6px;
	padding-left: 28px;
	background: transparent url(../images/skin/database_edit.png) 5px 50%
		no-repeat;
}

a#edit:hover {
	border: 0;
	padding-left: 28px;
	background: transparent url(../images/skin/database_edit.png) 5px 50%
		no-repeat;
}

a#edit:active {
	border: 0;
	padding-left: 28px;
	background: transparent url(../images/skin/database_edit.png) 5px 50%
		no-repeat;
}

a#forms {
	border: 0;
	color: #333;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	margin-left: 3px;
	overflow: visible;
	padding: 2px 6px;
	padding-left: 28px;
	background: transparent url(../images/skin/database_table.png) 5px 50%
		no-repeat;
}

a#forms:hover {
	border: 0;
	padding-left: 28px;
	background: transparent url(../images/skin/database_table.png) 5px 50%
		no-repeat;
}

a#forms:active {
	border: 0;
	padding-left: 28px;
	background: transparent url(../images/skin/database_table.png) 5px 50%
		no-repeat;
}

a#create,a#account-administration,a.button, input.button {
	width: auto;
	margin-top: 10px;
	padding: 4px 9px;
	display: inline;
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	border: 1px solid #ccc;
	color: #333;
	overflow: hidden;
	height: auto;
	cursor: pointer;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

a#return,input.upload {
	margin-top: 10px;
	padding: 4px 9px;
	display: inline;
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	color: #333;
	overflow: hidden;
	height: auto;
	cursor: pointer;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

a#return:hover,input.upload:hover {
	background-position: 0 -48px;
}

a#return:active,input.upload:active {
	background-position: 0 top;
	position: relative;
	top: 1px;
	padding: 6px 10px 4px;
}

/* EQUAL SPACING */
.rowTop {
	margin-top: 10px;
}

.rowBottom {
	margin-top: 100px;
	margin-bottom: 10px;
}

.columnLeft {
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: auto;
	margin-left: 10px;
	border-collapse: collapse;
	height: 20px;
	float: left;
}

.columnRight {
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: auto;
	margin-right: 5px;
	border-collapse: collapse;
	height: 20px;
	float: right;
}

/* File input */
.file_input_textbox {
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: auto;
	border-collapse: collapse;
	float: left;
}

.file_input_textbox {
	float: left
}

.file_input_div {
	position: relative;
	width: 220px;
	height: 23px;
	overflow: hidden;
}

.file_input_button {
	width: 60px;
	position: absolute;
	top: 0px;
	background-color: #33BB00;
	color: #FFFFFF;
	border-style: solid;
}

.file_input_hidden {
	font-size: 45px;
	position: absolute;
	right: 0px;
	top: 0px;
	opacity: 0;
	filter: alpha(opacity =   0);
	-ms-filter: "alpha(opacity=0)";
	-khtml-opacity: 0;
	-moz-opacity: 0;
}

         /* begin css tabs */

ul#tabnav { /* general settings */
text-align: left; /* set to left, right or center */
margin: 1em 0 1em 0; /* set margins as desired */
font: bold 11px verdana, arial, sans-serif; /* set font as desired */
border-bottom: 1px solid #6c6; /* set border COLOR as desired */
list-style-type: none;
padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
display: inline;
}

#tab1 li.tab1, #tab2 li.tab2, #tab3 li.tab3, #tab4 li.tab4, #tab5 li.tab5 { /* settings for selected tab */
border-bottom: 1px solid #fff; /* set border color to page background color */
background-color: #fff; /* set background color to match above border color */
}

#tab1 li.tab1 a, #tab2 li.tab2 a, #tab3 li.tab3 a, #tab4 li.tab4 a, #tab5 li.tab5 a { /* settings for selected tab link */
background-color: #fff; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
position: relative;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #6c6; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #cfc; /* set unselected tab background color as desired */
color: #666; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

ul#tabnav a:hover { /* settings for hover effect */
background: #fff; /* set desired hover color */
}

/* end css tabs */


/* Primary Navigation and Profile Options */
#access {
	height: 15px;
	margin: 0 auto;
	padding: 20px 0;
	width: 960px;
}

#primary_navigation li {
	list-style: none;
	float: left;
	margin-right: 10px;
}

#primary_navigation li a {
	padding: 10px;
	font-size: 12px;
	text-transform: uppercase;
	color: #1b1b1b;
	font-weight: bold;
	background: url(../images/bg_primnav.png) repeat-x bottom;
}

#primary_navigation li a:hover {
	color: #fff;
	background: url(../images/bg_primnav.png) repeat-x top;
}

#profile_options {
	float: right;
	color: #fff;
}

#profile_options ul {
	float: right;
}

#profile_options li {
	list-style: none;
	float: left;
	margin-left: 5px;
}

#profile_options li a {
	font-weight: normal;
	text-decoration: underline;
	color: #fff;
}

#profile_options li a:hover {
	text-decoration: none;
}

/* University of Wollongong Logo in the Header */
#uowLogo {
	float: right;
	color: #fff;
	margin-top: 25px;
}

#uowLogo img {
	float: right;
	margin-top: 5px;
}

/* Footer */
#footer {
	width: 940px;
	margin: 0 auto;
	background: #ccc;
	padding: 10px;
}